pre {
  background-color: #F8F8F8;
  border: 1px solid #DDD;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px
}
code {
  color:#000;
}
body {
  padding-top: 50px;
}
.footer {
  border-top: 2px solid #eee;
  margin-top: 20px;
  padding-top: 10px;
}
.head-sample {
  background-color: #eee;
  margin: 10px;
}
.center-container {
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:table;
  pointer-events: none;
  z-index:9999;
}
.centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
