<div class="modal-header">
  <h3>Login</h3>
</div>
<div class="modal-body">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  <form role="form">
    <div class="form-group">
      <label >Username</label>
      <input class="form-control" placeholder="Enter your username" ng-model="user_login">
      <label >Password</label>
      <input type="password" class="form-control" placeholder="Enter your password" ng-model="user_password">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok(user_login, user_password)">Login</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
