[
  {miki, [{port, 8080}, {max_conn, 100}, {key, "averyverylongprivatekeyforpasswordencryption"}]},
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/miki_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/miki_console.log"}, {level, info}]}
    ]}
  ]}
].

