[
  % miki config
  {miki, [{port, 8090}, {max_conn, 100}]},
  %% Lager config
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/ebill_server_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/ebill_server_console.log"}, {level, info}]}
    ]}
  ]},
  %% SASL config
  {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
  ]}
].

